<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} THIS IS THE TITLE OHH!! {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% tailwind_css %}
</head>
<body>
    
    <nav class ="bg-cyan-600 rounded-2xl">
        <a href="{% url 'home' %}">Home</a>|
        <a href="{% url 'posts:list'%}">Posts</a>|

        {% if user.is_authenticated%}

            <form action="{% url 'user:logout'%}" method = 'post'>
             {% csrf_token %}
            <button class="inline">Logout</button>
        </form>   

        {% else %}
        <a href="{% url 'user:register'%}">Register</a>|
        <a href="{% url 'user:login'%}">Login</a>|


        {% endif %}

    </nav>


    {% block main%}
        this is the main block of the templates
    {%endblock%}
    
</body>
</html>